<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="horizontal"
    android:layout_width="fill_parent"
    android:layout_height="wrap_content"
    android:layout_marginTop="1dp"
    android:weightSum="100"
    android:background="@drawable/textfields4"
    android:clickable="true">
    <LinearLayout
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:id="@+id/linearLayout2"
        android:gravity="center"
        android:background="@drawable/textfield_roundhardedge"
        android:layout_gravity="center"
        android:padding="5dp"
        android:clickable="true"
        android:hapticFeedbackEnabled="true">
        <ImageView
            android:src="@drawable/ic_ngo"
            android:layout_width="70dp"
            android:layout_height="70.0dp"
            android:id="@+id/imageView1" />
        <TextView
            android:text="New"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/txtName"
            android:layout_gravity="center"
            android:gravity="center"
            android:textColor="#000000"
            android:singleLine="true"
            android:textAllCaps="true"
            android:textStyle="bold"
            android:typeface="sans" />
    </LinearLayout>
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayout3"
        android:weightSum="100"
        android:background="@drawable/textfields2"
        android:layout_gravity="center"
        android:layout_marginLeft="10dp"
        android:clickable="true"
        android:hapticFeedbackEnabled="true">
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/linearLayout4"
            android:clickable="false"
            android:hapticFeedbackEnabled="true">
            <TextView
                android:text="Given Address:"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/textView2"
                android:textColor="#000000"
                android:textStyle="bold"
                android:textAllCaps="true" />
            <TextView
                android:text="141, Sector-11, Pocket-03, Dwarka, New Delhi"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/txtSubject"
                android:paddingLeft="5dp"
                android:textColor="#000000"
                android:typeface="sans"
                android:clickable="false" />
        </LinearLayout>
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/linearLayout4"
            android:layout_marginTop="5dp"
            android:clickable="false"
            android:hapticFeedbackEnabled="true">
            <TextView
                android:text="Information:"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/textView2"
                android:textColor="#000000"
                android:textStyle="bold"
                android:textAllCaps="true" />
            <TextView
                android:text="141, Sector-11, Pocket-03, Dwarka, New Delhi"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/txtMessage"
                android:paddingLeft="5dp"
                android:textColor="#000000"
                android:typeface="sans"
                android:layout_marginLeft="10dp"
                android:clickable="false" />
        </LinearLayout>
    </LinearLayout>
</LinearLayout>